@charset "UTF-8";
/* CSS Document */
/*===================================================
    IHSの魅力用CSS
===================================================*/
/*//////////////////////////////////////////////////
    キャリアパス・研修制度
///////////////////////////////////////////////////*/
.catchSent .linkBk {
	margin-top: 25px;
}

/* 全社員向け研修 */
.sentBox.allE {
	padding: 53px 6% 20px;
}
.sentBox.allE .detail {
	margin-top: 27px;
}