@charset "UTF-8";
/* CSS Document */
/*===================================================
    IHSの魅力用CSS
===================================================*/
/*//////////////////////////////////////////////////
    キャリアパス・研修制度
///////////////////////////////////////////////////*/
.catchSent .linkBk {
	margin-top: 25px;
}

/* 全社員向け研修 */
.sentBox.allE {
	padding: 53px 6% 20px;
}
.sentBox.allE .detail {
	margin-top: 27px;
}

/*//////////////////////////////////////////////////
    女性が活躍できる職場
///////////////////////////////////////////////////*/

#appeal .cont .sentBox .textArea dl {
	margin-top:15px;
}
#appeal .cont .sentBox .textArea dt {
	font-weight: bold;
}
#appeal .cont .sentBox .textArea ul {
	margin-left:15px;
}
#appeal .cont .sentBox .textArea li {
	padding-left:5px;
	list-style-type: disc;
}

