@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* CSS Document */
/*===================================================
    土台作成用CSS
===================================================*/
/*//////////////////////////////////////////////////
    Base set
///////////////////////////////////////////////////*/
* {
            box-sizing: border-box;
        -ms-box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	min-width: 1010px;
    font-family: HiraKakuPro-W3, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    word-break: break-all;
    text-align: left;
    color: #333;
	background-color: #F4F2EC;
    position: relative;
}
body:before {
	content:"";
	display:block;
	height:6px;
	width:100%;
	background: linear-gradient(to right,  #ff8c37 0%,#ffcc00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8c37', endColorstr='#ffcc00',GradientType=1 );
	position: absolute;
	top: 0;
}

/* --------------------------------------------------------
    clearfix
	(overflow:hiddenでフロートを解除できない場合に使用)
-------------------------------------------------------- */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

/* --------------------------------------------------
    リンク
-------------------------------------------------- */
a,
a:hover {
	color: #003E8D;
	text-decoration: none;
}

/*//////////////////////////////////////////////////
    全ページ共通パーツ
///////////////////////////////////////////////////*/
/* --------------------------------------------------------
    ボタン風リンク(btnクラスをベースとし、他クラスを付加して使う)
-------------------------------------------------------- */
/* ベース */
.btn {
    height: 50px;
	line-height: 50px;
	text-align: center;
	background: url("../image/common/btn_arrow.png") right center no-repeat;
	background-size: 16px auto;
	border-radius: 4px;
	color: #FFF;
	font-size: 15px;
	font-family: 'Noto Sans Japanese';
	font-weight: 700;
	transition: 0.3s;
}
	.btn a {
		width: 100%;
		height: 100%;
		display: block;
		color: #FFF;
		border-radius: 4px;
		vertical-align: middle;
	}

/* ボタン色 */
#company .btn {
	background-color: #E36D45;
}

#appeal .btn {
	background-color: #F48494;
}

#interview .btn {
	background-color: #80C269;
}
/*
#recruit .btn {
	background-color: #6093CA;
}
*/
#info .btn {
	background-color: #6093CA; /* ファイル名と同一に変更　recruit -→ info */
}

#faq .btn {
	background-color: #F0BE0F;
}

/* エントリーボタン */
.btn.entry {
	background-color: #FF9B2A;
	font-size: 10px;
	line-height: 1.2;
}
	.btn.entry a {
		padding-top: 7px;
	}
	.btn.entry span {
		font-family: 'Montserrat';
		font-size: 18px;
		letter-spacing: 3.5px;
		display: block;
	}

/* お問い合わせ */
.btn.inq {
	background-color: #555;
	font-size: 13px;
}

/* ホバー */
.btn:hover {
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)";
}

/* --------------------------------------------------------
    左黒三角リンク
-------------------------------------------------------- */
.linkBk {
	background: url("../image/common/link_arrow.png") left 7px no-repeat;
	background-size: 5px auto;
	padding-left: 10px;
	line-height: 1.5;
}
	.linkBk a {
		color: #333;
	}

	/* header内用 */
	header .linkBk a {
		font-size: 12px;
		font-family: 'Noto Sans Japanese';
	}
	header .linkBk a:hover {
		text-decoration: underline;
	}

	/* article内用 */
	article .linkBk a {
		text-decoration: underline;
	}
	article .linkBk a:hover {
		text-decoration: none;
	}

/* --------------------------------------------------------
    タイトル(h2)
-------------------------------------------------------- */
article .ttl {
	height: 240px;
	background: center top no-repeat;
	position: relative;
	margin-bottom: 90px;
}

/* 背景画像設定
   kv1→会社紹介、kv2→IHSの魅力、kv3→先輩インタビュー、kv4→募集要項、kv5→よくある質問にて使用 */
article #kv1.ttl {
	background-image: url("../image/common/kv1.png");
}
article #kv2.ttl {
	background-image: url("../image/common/kv2.png");
}
article #kv3.ttl {
	background-image: url("../image/common/kv3.png");
}
article #kv4.ttl {
	background-image: url("../image/common/kv4.png");
}
article #kv5.ttl {
	background-image: url("../image/common/kv5.png");
}

/* タイトル */
article .ttl h2 {
	max-width: 580px;
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: auto;
	position: relative;
	bottom: -190px;
	border: solid 3px transparent;
	font-family: 'Montserrat';
	font-size: 15px;
	letter-spacing: 2px;
}
	article .ttl h2 span {
		display: block;
		font-weight: bold;
		font-size: 24px;
		margin: 15px 0 7px;
		color: #333;
		font-family: 'Noto Sans Japanese';
		letter-spacing: 5px;
	}

/* タイトルのボーダー色 */
#company .ttl h2 {
	border-color: #E36D45;
	color: #E36D45;
}

#appeal .ttl h2 {
	border-color: #F48494;
	color: #F48494;
}

#interview .ttl h2 {
	border-color: #80C269;
	color: #80C269;
}

#recruit .ttl h2 {
	border-color: #6093CA;
	color: #6093CA;
}

#faq .ttl h2 {
	border-color: #F0BE0F;
	color: #F0BE0F;
}

/* --------------------------------------------------------
    タイトル(h3)
-------------------------------------------------------- */
article h3 {
	text-align: center;
	font-family: 'Montserrat';
	font-size: 15px;
	letter-spacing: 2.2px;
	position: relative;
	margin: 95px 0 55px;
}
#lNav + section h3 {
	margin-top: 0;
}

article h3:before {
	width: 40px;
	height: 3px;
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: -15px;
	margin-left: -20px;
}
	article h3 span {
		display: block;
		font-weight: 700;
		font-size: 20px;
		font-family: 'Noto Sans Japanese';
		letter-spacing: 3.7px;
		margin-bottom: 2px;
	}

/* ボーダー色 */
#company h3:before {
	background-color: #E36D45;
}

#appeal h3:before {
	background-color: #F48494;
}

#interview h3:before {
	background-color: #80C269;
}

#recruit h3:before {
	background-color: #6093CA;
}

#faq h3:before {
	background-color: #F0BE0F;
}

/* --------------------------------------------------
    h3隣接figure
-------------------------------------------------- */
h3 + figure {
	max-width: 760px;
	margin: 0 auto 50px;
	text-align: center;
}
	h3 + figure img {
		width: auto;
		max-width: 100%;
	}

/* --------------------------------------------------------
    キャッチコピー文章Box
-------------------------------------------------------- */
.catchSent {
	max-width: 840px;
	margin: 0 auto 60px;
	line-height: 2;
}
	.catchSent strong {
		display: block;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.catchSent aside {
		margin-top: 20px;
		font-size: 12px;
	}
		.catchSent aside dt {
			font-weight: bold;
		}

/* --------------------------------------------------------
    文章Box（背景白）
-------------------------------------------------------- */
.sentBox {
	background-color: #FFF;
	padding: 60px 6%;
	margin-bottom: 20px;
	letter-spacing: 1px;
	overflow: hidden;
	position: relative;
	line-height: 2;
}
	/* 見出し */
	.sentBox .hline {
		font-weight: bold;
		font-size: 18px;
		line-height: 1.5;
	}
	/* 見出し色 */
	#company .sentBox .hline {
		color: #E36D45;
	}

	#appeal .sentBox .hline {
		color: #F48494;
	}

	#interview .sentBox .hline {
		color: #80C269;
	}

	#recruit .sentBox .hline {
		color: #6093CA;
	}

	#faq .sentBox .hline {
		color: #F0BE0F;
	}

	/* sentBox内のbtnの幅とマージンの設定 */
	.sentBox .btn {
		float: left;
		width: 280px;
		margin-top: 30px;
	}

	/* 画像 */
	.sentBox .textArea {
		width: 64.488%;
		padding: 14px 4% 0 0;
		word-break: normal;
		float: left;
	}
	.sentBox .imgArea {
		width: 35.512%;
		text-align: center;
		padding-top: 20px;
		float: right;
	}
		.sentBox .imgArea img {
			width: 100%;
			max-width: 300px;
			height: auto;
		}

/* --------------------------------------------------------
    中央見出し＋文章仕切りボーダー付きBox
-------------------------------------------------------- */
.sentBoxT2 {
	background-color: #FFF;
	padding: 25px 6% 40px;
	position: relative;
	margin-bottom: 20px;
}
	.sentBoxT2 h4 {
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		letter-spacing: 2px;
	}
	.sentBoxT2 .box {
		margin: 15px auto 0;
		border-top: solid 1px #E4DFCF;
		word-break: normal;
		line-height: 2;
		padding-top: 20px;
	}

/* --------------------------------------------------------
    採用に関するお問い合わせ
-------------------------------------------------------- */
#contactBox {
	max-width: 960px;
	border: solid 3px #E4DFCF;
	padding: 20px 0 30px;
	line-height: 1.5;
	margin: 100px auto 0;
}
	#contactBox h3 {
		text-align: center;
		font-family: 'Montserrat';
		font-size: 15px;
		letter-spacing: 2.2px;
		position: relative;
	}
		#contactBox h3 span {
			display: block;
			font-weight: 700;
			font-size: 20px;
			font-family: 'Noto Sans Japanese';
			letter-spacing: 3.7px;
			margin-bottom: 2px;
		}

	#contactBox .box {
		width: 680px;
		line-height: 1.5;
		overflow: hidden;
		margin: 8px auto 0;
	}

	#contactBox address {
		float: left;
		width: 350px;
		padding-left: 6px;
		margin-top: 5px;
	}
		#contactBox address .tel {
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 36px;
			background: url("../image/common/icon_freeCall.png") left center no-repeat;
			background-size: 28px auto;
			padding-left: 38px;
			letter-spacing: 3.5px;
			line-height: 1;
		}
		#contactBox address .tel + p {
			font-weight: 700;
			font-size: 13px;
			margin: 3px 0 12px;
			letter-spacing: 1px;
		}

	/* リンク */
	#contactBox ul {
		float: right;
		width: 280px;
	}
		#contactBox ul li.entry {
			font-size: 11px;
		}
			#contactBox ul li.entry a {
				padding-top: 3px;
			}
			#contactBox ul li.entry span {
				font-size: 22px;
			}

		#contactBox ul li.inq {
			font-size: 15px;
			margin-top: 20px;
		}

/* --------------------------------------------------------
    sentBoxおよびsentBoxT2の左上に表示する色つき三角
-------------------------------------------------------- */
.tri:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0 0;
	position: absolute;
	top: 0;
	left: 0;
}

/* 緑 */
.tri.green:before {
	border-color: #B0D493 transparent transparent;
}

/* 青 */
.tri.blue:before {
	border-color: #93D4D2 transparent transparent;
}

/* 紫 */
.tri.purple:before {
	border-color: #A8A9D8 transparent transparent;
}

/* 桃 */
.tri.pink:before {
	border-color: #F48494 transparent transparent;
}

/* --------------------------------------------------------
    詳細タイトルとその内容
-------------------------------------------------------- */
.detail {
	overflow: hidden;
	margin-top: 22px;
}
	.detail dt {
		width: 100px;
		line-height: 30px;
		clear: both;
		float: left;
		background-color: #C8C6C0;
		color: #FFF;
		text-align: center;
		font-weight: 700;
		font-family: 'Noto Sans Japanese';
		letter-spacing: 2.8px;
	}
	.detail dd {
		margin-left: 130px;
		padding-top: 2px;
	}
		/* リスト */
		.detail dd li {
			margin: 0 0 10px 17px;
		}
			.detail dd li p:first-child {
				font-weight: bold;
				position: relative;
			}
			.detail dd li p:first-child:before {
				content: "■";
				position: absolute;
				top: 0;
				left: -20px;
			}

/*//////////////////////////////////////////////////
    Base layout
///////////////////////////////////////////////////*/
#wrap {
	width: 100%;
	min-width: 1010px;
	max-width: 1440px;
	min-height: 100%;
	margin: auto;
	padding-right: 20px;
	position: relative;
}

/* --------------------------------------------------
    header
-------------------------------------------------- */
header {
	width: 240px;
	min-height: 100%;
	padding-top: 46px;
	text-align: center;
	float: left;
}
	header .logo {
		width: 122px;
		height: 28px;
		margin: auto;
	}
		header .logo img {
			width: 100%;
		}

	header h1 {
		font-family: 'Noto Sans Japanese';
		font-weight: 900;
		font-size: 15px;
		margin-top: 10px;
	}
		header h1 span {
			font-size: 11px;
		}

	header li:first-child {
		margin-top: 0 !important;
	}

	/* スマホ用メニューボタンは非表示 */
	header #smtMenu {
		display: none;
	}

/*  グローバルナビゲーション
-------------------------------------------------- */
#gNav {
	width: 180px;
	margin: 50px auto 40px;
	text-align: left;
}
	#gNav li {
		margin-top: 13px;
		position: relative;
	}
		#gNav li a {
			height: 30px;
			display: block;
			padding: 3px 0 0 37px;
			color: #333;
			border-radius: 15px;
			letter-spacing: 1.5px;
			font-family: 'Noto Sans Japanese';
			font-weight: 700;
			transition: 0.3s;
		}
		#gNav li a:hover,
		#gNav li.act a {
			background-color: #E4DFCF;
		}

		#gNav li a:before {
			width: 8px;
			height: 8px;
			display: block;
			content: "";
			position: absolute;
			top: 10px;
			left: 20px;
		}

		/* 会社紹介 */
		#gNav li:nth-of-type(1) a:before {
			background-color: #E36D45;
		}

		/* IHSの魅力 */
		#gNav li:nth-of-type(2) a:before {
			background-color: #F48494;
		}

		/* 先輩インタビュー */
		#gNav li:nth-of-type(3) a:before {
			background-color: #80C269;
		}

		/* 募集要項 */
		#gNav li:nth-of-type(4) a:before {
			background-color: #6093CA;
		}

		/* よくある質問 */
		#gNav li:nth-of-type(5) a:before {
			background-color: #F0BE0F;
		}

/*  問い合わせボタン
-------------------------------------------------- */
#btnList {
	margin: 0 20px;
}
	#btnList li {
		margin-top: 15px;
	}

/*  プライバシーポリシーなど
-------------------------------------------------- */
#policyList {
	position: fixed;
	bottom: 50px;
	text-align: left;
	margin: 15px 0 0 50px;
}
	#policyList li {
		font-weight: 500;
	}

/*  会社ホームページへのリンク
-------------------------------------------------- */
#OHP {
	position: absolute;
	top: 23px;
	right: 20px;
	font-weight: 700;
}

/* --------------------------------------------------
    main
-------------------------------------------------- */
#main {
	margin-left: 240px;
	padding-top: 52px;
}

/*  コンテンツ
------------------------------------------------ */
.cont {
	max-width: 960px;
	margin: auto;
}

/*  ローカルナビゲーション
------------------------------------------------ */
#lNav {
	overflow: hidden;
	margin-bottom: 95px;
}
	#lNav li {
		width: 24%;
		float: left;
		margin-left: 1.3%;
		color: #333;
		font-size: 14px;
		background: #E4DFCF !important;
		display: table;
	}
	#lNav li:first-child {
		margin-left: 0;
	}
	#lNav li:hover {
		opacity: 1;
	}
		#lNav li > * {
			width: 100%;
			line-height: 1.4;
			display: table-cell;
			vertical-align: middle;
			padding: 0 12%;
		}

		#lNav li a {
			background: url("../image/common/btn_arrow.png") right center no-repeat;
			background-size: 16px auto;
			transition: 0.3s;
		}
		#lNav li a:hover {
			opacity: 0.7;
		}

	/* ボタン色 */
	#company #lNav li a {
		background-color: #E36D45;
	}

	#appeal #lNav li a {
		background-color: #F48494;
	}
	
	#interview #lNav li a {
		background-color: #80C269;
	}
	
	#recruit #lNav li a {
		background-color: #6093CA;
	}
	
	#faq #lNav li a {
		background-color: #F0BE0F;
	}

/* --------------------------------------------------
    footer
-------------------------------------------------- */
footer {
	height: 100px;
	border-top: solid 1px #DDD9CE;
	padding-top: 20px;
	margin-top: 110px;
	text-align: center;
	position: relative;
}

/*  ページトップ
-------------------------------------------------- */
footer #pageTop {
	position: fixed;
	right: 20px;
	bottom: 10px;
	cursor: pointer;
	display: none;
	transition: 0.3s;
	z-index: 100;
}
footer #pageTop:hover {
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)";
}


/*  コピーライト
-------------------------------------------------- */
footer .cp small {
	font-family: 'Noto Sans Japanese';
	font-weight: 700;
	font-size: 11px;
	letter-spacing: 1px;
}

/*  グローバルサイン
-------------------------------------------------- */
footer #sign {
	position: absolute;
	top: 20px;
	right: 0;
	display: inline-block;
	z-index: 1;
}
footer #sign .pm {
	margin: 0 20px;
}