@charset "UTF-8";
/* CSS Document */
/*===================================================
    募集要項用CSS
===================================================*/

/* --------------------------------------------------------
    部門紹介
-------------------------------------------------------- */	

#company .cont figure.deptimg {
    max-width: 960px;
    margin-bottom: 60px;
}


/*　テーブル　*/

#company .cont .sentBox table.departments {
    border-collapse: collapse;
    width: 100%;
}

#company .cont .sentBox table.departments th {
    text-align: left;
}

#company .cont .sentBox table.departments thead th {
    border-bottom: 4px solid #e36d45;
    padding: 0px 15px 15px;
    font-weight: bold;
    font-size: 1.125em;
}

#company .cont .sentBox table.departments tbody th,
#company .cont .sentBox table.departments tbody td {
    border-bottom: 1px solid #f4f4f4;
    padding: 15px;
}

#company .cont .sentBox table.departments tbody th.dash,
#company .cont .sentBox table.departments tbody td.dash {
    border-bottom: 1px dashed #f4f4f4;
    padding: 15px 15px 10px;
}

#company .cont .sentBox table.departments tbody td.dept {
    width: 35%;
}

#company .cont .sentBox table.departments tbody td ul {
    margin-left: 12px;
}

#company .cont .sentBox table.departments tbody td li {
    padding-left: 5px;
    list-style-type: disc;
}


/* --------------------------------------------------------
    会社概要
-------------------------------------------------------- */	

/*　テーブル　*/
#company .cont .sentBox table.profile {
    border-collapse: collapse;
    width: 100%;
}

#company .cont .sentBox table.profile th,
#company .cont .sentBox table.profile td {
    padding: 10px;
    border: 1px solid #E6E9EE;
}

#company .cont .sentBox table.profile th {
    background-color: #F9FAFC;
    text-align: center;
}

#company .cont .sentBox table.profile tbody td ul {
    margin-left: 15px;
}

#company .cont .sentBox table.profile tbody td li {
    padding-left: 5px;
    list-style-type: disc;
}

#company .cont .margb60 {
    margin-bottom: 60px;
}

#company .cont .sentBox .margb30 {
    margin-bottom: 30px;
}

#company .cont .sentBox .textArea {
    padding: 14px 4% 0 0;
    width: 48%;
    word-break: normal;
}

#company .cont .sentBox .textArea h4.hline {
    margin-bottom: 10px;
}

#company .cont .sentBox .textArea p.margb10 {
    margin-bottom: 10px;
}

#company .cont .sentBox .ggmap {
    border: 1px solid #ccc;
    position: relative;
    padding-bottom: 40%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    border: 1px solid ccc;
}

#company .cont .sentBox .ggmap iframe,
#company .cont .sentBox .ggmap object,
#company .cont .sentBox .ggmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

