@charset "UTF-8";
/* CSS Document */
/*===================================================
    募集要項用CSS(スマホ)
===================================================*/

/* --------------------------------------------------------
    募集要項(新卒・中途)
-------------------------------------------------------- */ 

/* インデックス　リンクボタン */
#lNav {
    margin-bottom: 10px;
}    

#index {
    margin-bottom: 15px;
    overflow: hidden;
}
    #index li,
    #index #lNav li {
        width: 48%;
        height: 60px;
        margin: 0 0 10px 0;
        float: left;
        font-size: 14px;
    }
    #index li:nth-of-type(even),
    #index #lNav li:nth-of-type(even) {
        float: right;
    }
        #lNav li a {
            transition: none;
        }
        #lNav li a:hover {
            opacity: 1;
        }

        #index li span {
            color: #F00;
            display: block;
            font-size: 10px;
        }

/* テーブル */
#info .cont .sentBox table.info tbody td ul {
    margin-left: 15px;
}

#info .cont .sentBox table.info tbody td li {
    padding-left: 0;
    list-style-type: disc;
}

#info .cont .sentBox table.info tbody th {
    width:30%;
}
