@charset "UTF-8";
/* CSS Document */
/*===================================================
    募集要項用CSS
===================================================*/

/* --------------------------------------------------------
    募集要項(新卒・中途)
-------------------------------------------------------- */	

/* インデックス　リンクボタン */
#index {
    overflow: hidden;
    margin-bottom: 95px;
}

    #index li {
        width: 49.3%;
        float: left;
        margin-left: 1.3%;
        color: #6093ca;
        display: table;
        font-size: 20px;
        font-family: "Noto Sans Japanese";
        background: #fff !important;
        border: solid 3px #6093ca; 
        text-align: center;    
        height: 90px;   
    }

    #index li:first-child {
        margin-left: 0;
    }
    #index li:hover {
        opacity: 1;
    }
        #index li > * {
            width: 100%;
            line-height: 1.4;
            display: table-cell;
            vertical-align: middle;
            padding: 3%;
        }

        #index li a { 
            color: #6093ca !important;           
            transition: 0.3s;
        }
        #index li a:hover {
            color: #6093ca !important;
            opacity: 0.7;
        }

        #index li span {
            color: #F00;
            display: block;
            font-size: 14px;
        }

/*　テーブル　*/
#info .cont .sentBox table.info {
    border-collapse: collapse;
    width: 100%;
}

#info .cont .sentBox table.info th,
#info .cont .sentBox table.info td {
    padding: 10px;
    border: 1px solid #E6E9EE;
}

#info .cont .sentBox table.info th {
    background-color: #F9FAFC;
    text-align: center;
}

#info .cont .sentBox table.info tbody td ul {
    margin-left: 15px;
}

#info .cont .sentBox table.info tbody td li {
    padding-left: 5px;
    list-style-type: disc;
}

#info .cont .sentBox .info tbody li dl {
    margin-bottom: 8px;
    line-height: 130%;
}

#info .cont .sentBox .info tbody li dt {
    font-weight: bold;
}

/*　テーブル内　リンクボタン*/
#info .cont .sentBox .info .btn {
    margin-top: 8px;    
}
#info .cont .sentBox .info .btn a {
    background: url("../image/common/btn_arrow.png") right center no-repeat #555;
    background-size: 16px auto;
    transition: 0.3s;
}

#info .cont .sentBox .info .btn a:hover {
    opacity: 0.7;
}

/* --------------------------------------------------------
    卒業校一覧
-------------------------------------------------------- */ 

/*　学校別　ナビゲーション*/
#sch {
    display: table;
    width: 100%;
    margin: 40px 0;
}
    #sch ul{
        background-color: #6093ca;
        height: 50px;
        padding-top: 12px;            
    }
         #sch li{
            color: #FFF;
            cursor: pointer;
            display: table-cell;
            font-family: "Noto Sans Japanese";
            vertical-align: middle;
            text-align: center;
            width: 4%;
    }
            #sch li a {
                color: #FFF;
                border-bottom: 1px solid #FFF;
                padding-bottom: 2px;
            }

            #sch li a:hover {
                text-decoration: none;
                border-bottom: 0;
                padding-bottom: 2px;
            }

/*　見出し　H4　*/
#info .cont .sentBox .univ h4,
#info .cont .sentBox .voca h4,
#info .cont .sentBox .jc h4 {
    color: #6093ca;
    font-size: 18px;
    font-weight: bold;
    font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
    padding-bottom: 5px;
    border-bottom: 3px solid #6093ca;
}

    #info .cont .sentBox .univ h4 span,
    #info .cont .sentBox .voca h4 span,
    #info .cont .sentBox .jc h4 span {
        font-size: 14px;
    }

        #info .cont .sentBox .univ ul,
        #info .cont .sentBox .voca ul,
        #info .cont .sentBox .jc ul {
            margin: 10px 35px 30px;
        }