@charset "UTF-8";
/* CSS Document */
/*===================================================
    募集要項用CSS(スマホ)
===================================================*/


/*流用できそうだったら流用する*/

/* --------------------------------------------------------
    採用担当者からのメッセージ
-------------------------------------------------------- */
article h3.adopt {
	height: 60px;
	font-size: 10px;
	margin: 0 0 27px;
	padding-top: 7px;
}
	article h3.adopt span {
		margin-bottom: 0;
	}

	.sentBox.msg .imgArea figcaption {
		font-size: 10px;
		text-align: right;
		letter-spacing: 1px;
		margin-top: 7px;
	}
		.sentBox.msg .imgArea figcaption > span {
			font-size: 15px;
			margin-left: 10px;
			display: inline;
			vertical-align: -1px;
			letter-spacing: 3px;
		}
		.sentBox.msg .imgArea figcaption .roma {
			display: inline;
			vertical-align: 2px;
			margin-left: 5px;
		}

/* --------------------------------------------------------
    部門紹介
-------------------------------------------------------- */	

#company .cont .sentBox table.departments {
    border: none;
}

#company .cont .sentBox table.departments thead {
    display: none;
}

#company .cont .sentBox table.departments tr {
    display: block;
    margin-bottom: 20px;
}

#company .cont .sentBox table.departments tbody th,
#company .cont .sentBox table.departments tbody td {
    border: none;
    display: block;
    padding: 5px;
    text-align: left;
}

#company .cont .sentBox table.departments tbody td.dash {
    border: none;
    display: block;
    padding: 5px 5px 0;
    text-align: left;
}

#company .cont .sentBox table.departments tbody td.support {
    margin-left: 15px;
}

#company .cont .sentBox table.departments tbody td.dept {
    width: 100%;
    font-size: 1.125em;
    font-weight: bold;
}

#company .cont .sentBox table.departments tbody td ul {
    margin-left: 20px;
}

#company .cont .sentBox table.departments tbody td li {
    padding-left: 0px;
    list-style-type: disc;
}


/* --------------------------------------------------------
    会社概要
-------------------------------------------------------- */	

#company .cont .sentBox table.profile tbody td ul {
    margin-left: 15px;
}

#company .cont .sentBox table.profile tbody td li {
    padding-left: 0;
    list-style-type: disc;
}

#company .cont .sentBox .textArea {
    display: block;
    padding: 14px 4% 0 0;
    width: 100%;
    word-break: normal;
}

#company .cont .sentBox .ggmap {
    width: 100%;
}






