<!--▽ヘッダー▽-->
<header>
    <p class="logo">
        <a href="/recruit/"><img src="/recruit/image/common/logo.png" alt="IHS" /></a>
    </p>
    <h1><span>IIMヒューマン・ソリューション株式会社</span><br />新卒・中途採用サイト</h1>
    <p id="smtMenu"><img src="/recruit/image/common/menu_smt.png" alt="メニュー" width="36" height="29" /></p>
    <div class="menu">
        <nav id="gNav">
            <ul>
            <li{% if page.global_menu=="company" %} class="act" {% endif %}><a href="/recruit/company/message.html">会社紹介</a></li>
            <li{% if page.global_menu=="appeal" %} class="act" {% endif %}><a href="/recruit/appeal/environment.html">IHSの魅力</a></li>
            <li{% if page.global_menu=="interview" %} class="act" {% endif %}><a href="/recruit/interview/interview.html">先輩インタビュー</a></li>
            <li{% if page.global_menu=="info" %} class="act" {% endif %}><a href="/recruit/info/guideline.html">募集要項</a></li>
            <li{% if page.global_menu=="faq" %} class="act" {% endif %}><a href="/recruit/faq.html">よくある質問</a></li>
            <li{% if page.global_menu=="topics" %} class="act" {% endif %}><a href="/recruit/topics/">お知らせ</a></li>
            <!--<li{% if page.global_menu=="intern" %} class="act" {% endif %}>--><!--li><a tabindex="-1">インターンシップ</a-->
            	<!--ul class="sub"-->
            		<!-- <li{% if page.global_menu=="intern2019summer" %} class="act" {% endif %} style="margin-top: 0px; margin-bottom: 0px;"><a href="/recruit/intern/2019summer/">夏季2019</a></li> -->
            	<!-- <li{% if page.global_menu=="intern2020winter" %} class="act" {% endif %} style="margin-top: 0px; margin-bottom: 0px;"><a href="/recruit/intern/2020winter/">冬季2020</a></li>
            	</ui>
            </li-->
        	</ul>

        </nav>
        <ul id="btnList">
            <li class="btn entry"><a href="/recruit/contact/new_entry/"><span>ENTRY</span>採用エントリーフォーム</a></li>
            <li class="btn inq"><a href="/recruit/contact/">お問い合わせ</a></li>
        </ul>
        <ul id="policyList">
            <li class="linkBk"><a href="/privacy/policy.html">個人情報保護方針</a></li>
            <li class="linkBk"><a href="/privacy/sitePolicy.html">サイトポリシー</a></li>
        </ul>
        <p id="OHP" class="linkBk"><a href="/">IIMヒューマン・ソリューション株式会社</a></p>
    </div>
    <!--/.menu-->
</header>
<!--△ヘッダー△-->
