@charset "UTF-8";
/* CSS Document */
/*===================================================
    会社紹介用CSS(スマホ)
===================================================*/


/* --------------------------------------------------------
    部門紹介
-------------------------------------------------------- */	
/*　テーブル　*/
#contact .cont .sentBox table.form {
    border-collapse: collapse;
    width: 100%;
    margin-right: 10px;
}

#contact .cont .sentBox table.form th {
    background-color: #F9FAFC;
    text-align: center;    
    padding: 10px;
    border: 1px solid #E6E9EE;
    width: 11em;
}

#contact .cont .sentBox table.form td {
    padding: 10px;
    border: 1px solid #E6E9EE;
}

#contact .cont .sentBox table.form td form.birthday {
    width: 30px;
    margin-right: 5px;
    margin-left:  5px;
}

#contact .cont .sentBox table.form tbody td form,
#contact .cont .sentBox table.form tbody td select,
#contact .cont .sentBox table.form tbody td input {
    border: none;
}

#contact .cont .sentBox table.form tbody td textarea,
#contact .cont .sentBox table.form tbody td textarea.message {
    width: 270px;
    border: none;
}


/*　レイアウト　*/
#contact .cont .margb60 {
    margin-bottom: 60px;
}

#contact .cont .sentBox .margb30 {
    margin-bottom: 30px;
}







