@charset "UTF-8";
/* CSS Document */
/*===================================================
    会社紹介用CSS(スマホ)
===================================================*/
/*//////////////////////////////////////////////////
    メッセージ・求める人材
///////////////////////////////////////////////////*/
/* --------------------------------------------------------
    社長、採用担当者メッセージ共通使用
-------------------------------------------------------- */
.roma {
	font-size: 10px;
	letter-spacing: 1.5px;
}

/* --------------------------------------------------------
    フォーム
-------------------------------------------------------- */	

/*　テーブル　*/
#contact .cont .sentBox table.form {
    /*border-collapse: collapse;*/
    width: 100%;
}

#contact .cont .sentBox table.form td {
    padding: 5px;
    width: 100%;
}

#contact .cont .sentBox table.form td input.birthday {
    margin-right: 5px;
    margin-left:  5px;
}


#contact .cont .sentBox table.form tbody td textarea {
    width: 100%;
}




