<!--▼問い合わせ先▼-->
<aside id="contactBox" class="sentBoxT2">
    <h3><span>採用に関するお問い合わせ</span>Contact</h3>
    <div class="box">
        <address>
            <p class="tel"><a href="tel:0120640256">0120-640-256</a></p>
            <p>営業時間　9:00 - 18:00(土日、祝日除く)</p>
            <p>IHS採用担当者がご対応させていただきます。</p>
        </address>
        <ul>
            <li class="btn entry"><a href="/recruit/contact/entry.html"><span>ENTRY</span>採用エントリーフォームはこちら</a></li>
            <li class="btn inq"><a href="/recruit/contact/contact.html">採用に関するお問い合わせ</a></li>
        </ul>
    </div>
</aside>
<!--/#contactBox-->
<!--▲問い合わせ先▲-->
