<nav>
    <dl>
        <dt class="act"><a href="/columns/">コラム</a></dt>
        <dd>
            <ul>
  
                <li{% if page.categories contains "リモート運用" %} class="act"{% endif %}><a href="/columns/remote/">リモート運用</a></li>    
                <li{% if page.categories contains "インフラ運用" %} class="act"{% endif %}><a href="/columns/operation/">インフラ運用</a></li>
                <li{% if page.categories contains "インフラ構築" %} class="act"{% endif %}><a href="/columns/construction/">インフラ構築</a></li>
                <li{% if page.categories contains "セキュリティ" %} class="act"{% endif %}><a href="/columns/security/">セキュリティ</a></li>
                
            </ul>
        </dd>
    </dl>
</nav>

    <aside id="bnr">
        <ul>           
            {% include side/side_bn_contact.html %}
        </ul>
    </aside>
