---
layout: columns
---

<h1>{{ page.title }}</h1>
<p>従来よりIIMヒューマンソリューションでは、既存のお客様やセミナーにご出席いただいた方々へ、月に1度、「お役立ちメール」を配信しています。そのお役立ちメールの中で人気が高いコラムを以下にまとめました。2020年4月からのコラムを以下にまとめています。ぜひご覧ください。<br>
お役立ちメールには、弊社新サービス、セミナー情報、またお得な情報が含まれています。メルマガ配信をご希望の方は、<a href="mailto:web@iimhs.co.jp?subject=メルマガ配信希望&amp;body=会社名：%0D%0A部署名：%0D%0Aお名前：%0D%0Aご連絡先：">web@iimhs.co.jp</a> まで、「メルマガ配信希望」とタイトルに記載し、御社名、部署名、お名前、ご連絡先（メールアドレス）をご記載いただき、メールをお送りください。</p>

<ul class="columnList lineList">

  {% for column in paginator.posts %}
    <li class="triBox">
      <a href="{{ column.url }}">
        <section>
          <h3>{{ column.title }}</h3>

          {% for category in column.categories %}
          {% if category != "columns" %}
          <span class="icon">{{ category }}</span>
          {% endif %}
          {% endfor %}

          <p>{{ column.description | slice: 0, 43 }}...</p>
        </section>
      </a>
    </li>
  {% endfor %}

</ul>

{% include pagination.html %}

