@charset "UTF-8";
/* CSS Document */
/*===================================================
    採用エントリーフォーム用CSS
===================================================*/

#contact .cont .sentBox {	
   background-color: rgb(249, 249, 249);
   padding: 0;
   margin-left: -60px;
   position: relative;
   overflow: hidden;
}

#contact .cont .sentBox .googleForm01_sp,
#contact .cont .sentBox .googleForm02_sp {
    display: block;
    margin: 0 auto;
    width: 320px;
}

#contact .cont .sentBox .googleForm01_pc,
#contact .cont .sentBox .googleForm02_pc {
    display: none;
}
/*
.googleForm01 {
    position: relative;
    width: 100%;
    padding-bottom: 600%; 

}

.googleForm02 {
    position: relative;
    width: 100%;
    padding-bottom: 320%;

}

.googleForm01 iframe,
.googleForm02 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
*/



