@charset "UTF-8";
/* CSS Document */
/*===================================================
    IHSの魅力用CSS(スマホ)
===================================================*/

/*//////////////////////////////////////////////////
    福利厚生・社内行事
///////////////////////////////////////////////////*/


#appeal .cont .sentBox .welfare {
	margin-bottom: 10px;
}
#appeal .cont .sentBox .welfare dl {	
	border-bottom :1px solid #e4dfcf;
	float: left;
	margin-top: 10px;
	padding-bottom: 20px;
	width: 100%;	
}
#appeal .cont .sentBox .welfare dt {
	font-weight: bold;
	font-size: 14px;
	width: 100%;
	display: block;
}

#appeal .cont .sentBox .welfare dd {
    padding-left: 0px;
}

#appeal .cont .sentBox .welfare .link {
	margin-top: 5px;
	padding: 20px 4%;
	background-color: #f0f0f0;
}
#appeal .cont .sentBox .welfare .link h5 {
	font-weight: bold;
	font-size: 14px;
}

#appeal .cont .sentBox .welfare .textArea02 {	
	padding-bottom: 20px;
}

/* イベント見出し */
#appeal .cont .sentBox h4.event {
	text-align: center;
	margin-top: -10px;
	padding-bottom: 10px;

}

#appeal .cont .sentBox .textArea02 {
	padding-top: 15px;
}

figure.right{
	margin-left: 0px;
}
/*//////////////////////////////////////////////////
    女性が活躍できる職場
///////////////////////////////////////////////////*/

#appeal .cont .sentBox .textArea ul {
	margin-left:20px;
}
#appeal .cont .sentBox .textArea li {
	padding-left:0;
	list-style-type: disc;
}

/* 産休・育休取得者の声 */
#appeal .cont .sentBox .voice {	
	margin-top: 20px;
}
#appeal .cont .sentBox .voice dl {
	background-color: #fafafa;
	border: #f48494 3px solid;
	margin-bottom: 10px ;
	padding: 15px 10px 10px;
}

#appeal .cont .sentBox .voice dt {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    clear: both;
    margin: 0 0 10px;
}

#appeal .cont .sentBox .voice dt img {
	width: 50px;
	margin: auto 0;
	padding-left: 0;
}
#appeal .cont .sentBox .voice dt span {
	display: block;
	padding-top: 10px;
	font-size: 12px;
	font-weight: bold;

}
#appeal .cont .sentBox .voice dd {
	clear: left;
	padding-left: 0px;
} 
#appeal .cont .sentBox .voice h5 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}


