@charset "UTF-8";
/* CSS Document */
/*===================================================
    IHSの魅力用CSS
===================================================*/
/*//////////////////////////////////////////////////
    キャリアパス・研修制度
///////////////////////////////////////////////////*/
.catchSent .linkBk {
	margin-top: 25px;
}

/* 全社員向け研修 */
.sentBox.allE {
	padding: 53px 6% 20px;
}
.sentBox.allE .detail {
	margin-top: 27px;
}

figure{
	display: inline-block;
}

figure.right{
	margin-left: 10px;
}


/*figure

/*//////////////////////////////////////////////////
    福利厚生・社内行事
///////////////////////////////////////////////////*/

#appeal .cont .sentBox .welfare {
	margin-bottom: 40px;
}
#appeal .cont .sentBox .welfare:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    }

 /* 福利厚生 定義リスト */   
#appeal .cont .sentBox .welfare dl,
#appeal .cont .sentBox .welfare .textArea02 {	
	border-bottom :1px solid #e4dfcf;
	float: left;
	margin-top: 20px;
	padding-bottom: 40px;
	width: 100%;	
}
#appeal .cont .sentBox .welfare dl {
	overflow: hidden;
}
#appeal .cont .sentBox .welfare .textArea02 {	
	margin-top: 0;
}
#appeal .cont .sentBox .welfare dl.last {
	border-bottom : 0 !important;
	padding-bottom: 0 !important;
}
#appeal .cont .sentBox .welfare dt {
	font-weight: bold;
	font-size: 14px;
	float: left;
	width: 180px;	
}

#appeal .cont .sentBox .welfare dd {
	padding-left: 180px;
}

#appeal .cont .sentBox .welfare .link {
	margin-top: 20px;
	padding: 20px 4%;
	background-color: #f0f0f0;
}
#appeal .cont .sentBox .welfare .link h5 {
	font-weight: bold;
	font-size: 14px;
}

/* イベント見出し */
#appeal .cont .sentBox h4.event {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: -30px;
	padding-bottom: 20px;
	border-bottom: 1px #e4dfcf solid;
	margin-bottom: 10px;
}

#appeal .cont .sentBox .textArea h5 {
	margin-bottom: 10px;
}

/*//////////////////////////////////////////////////
    女性が活躍できる職場
///////////////////////////////////////////////////*/

#appeal .cont .sentBox .textArea dl {
	margin-top:15px;
}
#appeal .cont .sentBox .textArea dt {
	font-weight: bold;
}
#appeal .cont .sentBox .textArea ul {
	margin-left:20px;
}
#appeal .cont .sentBox .textArea li {
	padding-left:0px;
	list-style-type: disc;
}

/* 産休・育休取得者の声 */
#appeal .cont .sentBox .voice {	
	margin-top: 40px;
}
#appeal .cont .sentBox .voice dl {
	background-color: #fafafa;
	border: #f48494 3px solid;
	margin-bottom: 20px ;
	padding: 30px 20px;
}
#appeal .cont .sentBox .voice dt {
	width: 70px;
	height: 100%;	
	float: left;
	margin-right:30px;
}
#appeal .cont .sentBox .voice dt img {
	padding-left: 10px;
	width: 60px;
	clear: both;
}
#appeal .cont .sentBox .voice dt span {
	padding-top: 10px;
	font-size: 12px;
	font-weight: bold;
	display: block;
}

#appeal .cont .sentBox .voice dd {
	padding-left: 100px;
}
#appeal .cont .sentBox .voice h5 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
#appeal .cont .sentBox .voice p {
}

