@charset "UTF-8";
/* CSS Document */
/*===================================================
    採用エントリーフォーム用CSS
===================================================*/

#contact .cont .sentBox {
    background-color: rgb(249, 249, 249);
    padding: 0;
    position: relative;
    overflow: hidden;
    min-width: 320px;
}

.googleForm01 {
    position: relative;
    width: 100%;
    padding-bottom: 345%;
}

.googleForm02 {
    position: relative;
    width: 100%;
    padding-bottom: 173%;
    
}

.googleForm01 iframe,
.googleForm02 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width: 480px) {
    .googleForm01 {
        position: relative;
        width: 100%;
        padding-bottom: 672%;
    }
    .googleForm02 {
        position: relative;
        width: 100%;
        padding-bottom: 600%;
    }
    .googleForm01 iframe,
    .googleForm02 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

@media screen and (max-width: 320px) {
    .googleForm01 {
        position: relative;
        width: 100%;
        padding-bottom: 730%;
        margin-left: -30px;
    }
    .googleForm02 {
        position: relative;
        width: 100%;
        padding-bottom: 400%;
        margin-left: -30px;
    }
    .googleForm01 iframe,
    .googleForm02 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

@media only screen and (orientation:landscape) {
    /* ランドスケープ用 */
    .googleForm01 {
        position: relative;
        width: 100%;
        padding-bottom: 480%;
    }
    .googleForm02 {
        position: relative;
        width: 100%;
        padding-bottom: 280%;
    }
    .googleForm01 iframe,
    .googleForm02 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

