@charset "UTF-8";
/* CSS Document */
/*===================================================
    インターンシップ用CSS(スマホ)
===================================================*/

/* --------------------------------------------------------
    インターン概要
-------------------------------------------------------- */ 

/* インデックス　リンクボタン */
#lNav {
    margin-bottom: 10px;
}    

#index {
    margin-bottom: 15px;
    overflow: hidden;
}
    #index li,
    #index #lNav li {
        width: 48%;
        height: 60px;
        margin: 0 0 10px 0;
        float: left;
        font-weight: bold;
        font-size: 14px;
    }
    #index li:nth-of-type(even),
    #index #lNav li:nth-of-type(even) {
        float: right;
    }
        #lNav li a {
            transition: none;
        }
        #lNav li a:hover {
            opacity: 1;
        }

        #index li span {
            display: block;
            font-size: 8px;
        }

#intern .cont #new,
#intern .cont #mid {
    margin-top:-20px;
    padding-top:20px;
}

/* テーブル */
#intern .cont .sentBox table.intern {
    width: 100%;
}

#intern .cont .sentBox table.intern tbody td ul {
    margin-left: 15px;
}

#intern .cont .sentBox table.intern tbody td li {
    padding-left: 0;
    list-style-type: disc;
}

#intern .cont .sentBox table.intern tbody th {
    width:20%;
}

#intern .cont .sentBox .intern tbody td p.btn {
    width: 100%;
    font-size: 14px;
}

.mbox{
    width: 200px;
    height: 50px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.mbox p{
    font-weight: bold;
    text-align: center;
}

.flow{
	max-width: 100%;
}

.intern4Box{
    width: 270px;
}

    /*タブレットのmax-widthが768pxの時*/
    @media (max-width: 768px){
        .intern3Box{
            width: 180px;
        }
        .intern3Box h1{
            font-size: 14px;
        }
    }




/* --------------------------------------------------------
    インターンシップ日程
-------------------------------------------------------- */ 

#intern .cont .sentBox .session {
    margin-bottom:20px;
}

#intern .cont .sentBox .session h4 {
    font-size: 16px;
}

/* スケジュール */
#intern .cont .sentBox .session thead th {
    display: none;
}

#intern .cont .sentBox .session table tbody tr th.date {
    /*border-top: 5px #6093ca solid;*/
    border-bottom: 5px #6093ca solid;
    border-collapse: collapse;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 10px;
    width: 100%;
}

#intern .cont .sentBox .session table tbody tr td {
    padding: 10px 0;
}

#intern .cont .sentBox .session table tbody tr td.time,
#intern .cont .sentBox .session table tbody tr td.venue,
#intern .cont .sentBox .session table tbody tr td.apply {
    display: block;
    width: 100%;
    font-size: 14px;
}

#intern .cont .sentBox .session table tbody tr td.time::before {
                content: "時間 ： ";
            }
#intern .cont .sentBox .session table tbody tr td.venue::before {
                content: "開催地 ： ";
            }

#intern .cont .sentBox .session table tbody tr td.apply::before {
                content: "応募締切 ： ";
            } 

/* 会場のご案内 */
#intern .cont .sentBox .access .tokyo,
#intern .cont .sentBox .access .osaka {
    margin-bottom: 30px;
}

#intern .cont .sentBox .guide {
    padding: 16px;
    margin-bottom: 16px;
}

#intern .cont .sentBox .guide p.btn {
    background-color: #555;   
    clear: both;
    width: 100%;
}

#intern .cont .sentBox .access .ggmap{
    width: 100%;
    margin-top: 20px;
}
/* --------------------------------------------------
    バナー 横1列
-------------------------------------------------- */
.banner{
    position: relative;
    margin-top:15px;
    /*width: 400px;*/
}

@media screen and (max-width: 480px) {
        .banner
         {
        position: relative;
        width: 100% !important;
    }
}

@media screen and (max-width: 320px) {
    .banner {
        position: relative;
        width: 10% !important;
        margin-left: -30px;
    }
}
@media only screen and (orientation:landscape) {
    /* ランドスケープ用 */
    .banner {
        position: relative;
        width: 100% !important;
    }
}