@charset "UTF-8";
/* CSS Document */
/*===================================================
   リーディングページCSS
===================================================*/
#leading .cont .sentBox table.leading tbody th ul{
    margin-left:30px; 
}

#leading .cont .sentBox table.leading thead th {
    font-size: 15px;
}

/* --------------------------------------------------
    バナー 横1列
-------------------------------------------------- */
.banner{
    position: relative;
}

@media screen and (max-width: 480px) {
        .banner
         {
        position: relative;
        width: 100% !important;
    }
    /*エントリーフォームへのバナーボタン*/
    .enBtn{
    height: 50px;
    }

    .enBtn a{
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .banner {
        position: relative;
        width: 10% !important;
        margin-left: -30px;
    }

}
@media only screen and (orientation:landscape) {
    /* ランドスケープ用 */
    .banner {
        position: relative;
        width: 100% !important;
    }
}