<!DOCTYPE html>
<html lang="ja">

<head>
    <!--▽ヘッド▽-->
    {% include head.html %}
    <!--△ヘッド△-->
    <!--ページ専用css-->
    <link rel="stylesheet" type="text/css" href="/css/interview.css" />
    <link rel="stylesheet" media="screen and (max-width: 768px)" type="text/css" href="/css/interview_smt.css" />
</head>

<body>
    <div id="wrap" class="clearfix">
        <!--▽ヘッダー▽-->
        {% include header.html %}
        <!--△ヘッダー△-->
        <div id="main">
            {{ content }}
            <!--▽お問い合わせ▽-->
            {% include content/content_bn_contact.html %}
            <!--△お問い合わせ△-->
            <!--▽フッター▽-->
            {% include footer.html %}
            <!--△フッター△-->
        </div>
        <!--/#main-->
    </div>
    <!--/#wrap-->
</body>

</html>
